.sidenav-container {
    height: 100%;
} 
.sidenav {
    width: 10%;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}  
#toolbar {
    position: fixed;   
}
span a {
    color: #fff;
    text-decoration: none;
}