.btn-go-back {
    margin-bottom: 10px;
}
.mat-toolbar {
    background: #fff;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    margin-top: 25px;
    width: 100%;
}
#last {
    margin-bottom: 25px;
}
.mat-toolbar-row {
    font-size: 18px;
    height: 40px;
}
.mat-toolbar-row p {
    margin-right: 2px;
}
.label-title {
    font-size: 30px;
    margin: 15px 0px;
}
.spacer {
    flex: 1 1 auto;
}
.value {
    padding: 0 14px;
} 


